/backend/node_modules
/frontend/node_modules
package-lock.json
/frontend/.env
/frontend/package-lock.json
/frontend/package.json
/backend/.env
/backend/package-lock.json
/backend/package.json
.DS_Store

/mobile/node_modules
/mobile-tinder